@charset "UTF-8";

body {
    background-color: #b2f7e5;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #008663;
}
h1#principal {
    text-align: center;
    background-color: #008663;
    color: white;
}
h2{
    color: #014130
}
.basico {
    color: #014130;
    font-style: italic;
    
}
.medio{
    color: rgb(230, 161, 65);
    font-style: italic;
}
.avancado{
    color: rgb(188, 4, 4);
    font-style: italic;
}