@charset "UTF-8";

/* Todas as medias restantes*/

/* Typical Device Breakpoints
Pequenas telas: 
Telemóvel:
Tablet
Desktop
Grandes telas*/
@media print { /* IMPRESSÃO */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    main {
        width: 90vw;
       
        border: 2px solid black;
    }
    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        color: black;
        text-shadow: none;
    }
    img#print {display: block;}
    img#phone {display: none;} 

}

@media screen  and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#tablet {display:  block;}
    img#phone {display: none;} 
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP*/
    body {
        background-image: url(../imagens/back-pc.jpg)
    }
    img#pc {display: block;}
    img#phone {display: none;} 
}

@media screen and (min-width: 1200px) {
    /* Grandes telas*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#tv {display: block;}
    img#phone {display: none;} 
    }

